programacion/integracion/repositorio/WebClubDeportivo/Connected Services/ServicioActividades/ServicioActividades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioActividades" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55871/ServicioActividades.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55871/ServicioActividades.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55871/ServicioActividades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioActividades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioActividades_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServicioActividades_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioActividades_GetActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActividad" />
  </wsdl:message>
  <wsdl:message name="IServicioActividades_GetActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioActividades_UpdateCupoActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCupoActividad" />
  </wsdl:message>
  <wsdl:message name="IServicioActividades_UpdateCupoActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCupoActividadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioActividades">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioActividades/GetAll" message="tns:IServicioActividades_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioActividades/GetAllResponse" message="tns:IServicioActividades_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioActividades/GetActividad" message="tns:IServicioActividades_GetActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioActividades/GetActividadResponse" message="tns:IServicioActividades_GetActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCupoActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioActividades/UpdateCupoActividad" message="tns:IServicioActividades_UpdateCupoActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioActividades/UpdateCupoActividadResponse" message="tns:IServicioActividades_UpdateCupoActividad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioActividades" type="tns:IServicioActividades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServicioActividades/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActividad">
      <soap:operation soapAction="http://tempuri.org/IServicioActividades/GetActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCupoActividad">
      <soap:operation soapAction="http://tempuri.org/IServicioActividades/UpdateCupoActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioActividades">
    <wsdl:port name="BasicHttpBinding_IServicioActividades" binding="tns:BasicHttpBinding_IServicioActividades">
      <soap:address location="http://localhost:55871/ServicioActividades.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>