programacion/mauro/repositorio/ConsolePrueba/Connected Services/ServicioActividades/ServicioActividades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55871/ServicioActividades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioActividades" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicioActividades" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfActividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicioActividades" minOccurs="0" name="GetActividadResult" nillable="true" type="q2:Actividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCupoActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="cupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCupoActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicioActividades" minOccurs="0" name="UpdateCupoActividadResult" nillable="true" type="q3:Actividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>