programacion/lucas/repositorio/WebClubDeportivo/Connected Services/ServicioActividades/ServicioActividades1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicioActividades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicioActividades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActividad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actividad" nillable="true" type="tns:Actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividad" nillable="true" type="tns:ArrayOfActividad" />
  <xs:complexType name="Actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAct" type="xs:int" />
      <xs:element minOccurs="0" name="CupoActual" type="xs:int" />
      <xs:element minOccurs="0" name="CupoTotal" type="xs:int" />
      <xs:element minOccurs="0" name="HoraComienzo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxEdad" type="xs:int" />
      <xs:element minOccurs="0" name="MinEdad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad" nillable="true" type="tns:Actividad" />
</xs:schema>